<center><img src="http://i.imgur.com/sSaOozN.png" width="500"></center>

## Course: Computational Thinking for Governance Analytics

### Prof. José Manuel Magallanes, PhD 
* Visiting Professor of Computational Policy at Evans School of Public Policy and Governance, and eScience Institute Senior Data Science Fellow, University of Washington.
* Professor of Government and Political Methodology, Pontificia Universidad Católica del Perú. 

_____
<a id='home'></a>

# Data collecting

1. [The GitHub Repo](#part1) 
2. [Uploading files](#part2)
3. [APIs](#part3) 
4. [Scraping](#part4) 
5. [Social media](#part5)

____
<a id='part1'></a>

## 1. The GitHub Repo

**Where is the Data?**
**Where is the Code?**

We use GitHub as a way to organize our work. It helps transforming the way you can store and access your code and data outside your local machine: an easy way of experiencing the cloud. 

You should have a GitHub account and the GitHub desktop version already installed. If not, do so now and then continue with these steps:

1. Once you are signed into GitHub web, create a _repository_. Choose a name for your repo. **DO NOT forget** to select the option to add a READ ME file, choose a **LICENSE** too.
2. **Clone** the repository just created into your computer. You can select where to clone the repository, avoid cloning the repo into a folder from another app (i.e. Dropbox).


Next, let's open the data file that you find [here](https://drive.google.com/drive/folders/1uH6S-8rns8THDnBRCy3OGLEki9LjyTCL?usp=sharing). Once you open the file, you will see something like this:

In [1]:
from IPython.display import IFrame  
wikiLink="https://docs.google.com/spreadsheets/d/e/2PACX-1vRXdVAxZTnQ6N7bI1xJ_XRQSoG-FsiucGI_fsyBuKCi6TcO3guGB_-6nk4i6so7SG__eIpfS0o8pUuZ/pubhtml?widget=true&amp;headers=false" 
IFrame(wikiLink, width=700, height=300)

Understanding what you see is not straightforward:

* What does these data represent?
* What does each column represent?
* What possible mistakes can appear in the data values?
* What variables will be useful for my hypotheses and goals?

If this is the first time you run into a data set like this, you first need to **read** the documentation of the data (available in the same link above).

At this stage, you can download these data from GoogleDocs into the folder cloned from GitHub (now in your local machine). Download it first as a CSV file. 

Now, open GitHub Desktop App. You will see that the app is telling you some changes have ocurred in your local files (in the cloned repository from GitHub). Now, let's **Commit** and **Push**, that will syncronize contents in your local repo and your cloud repo.

In *my own* repo, it looks like [this](https://github.com/EvansDataScience/data/blob/master/HSBfromGoogle.csv).

GitHub allows you to see the data content (it is not always possible). Now, find the icon **raw** and copy its link address (**do not** copy the URL of the page). This is mine:

https://github.com/EvansDataScience/data/blob/master/HSBfromGoogle.csv

Now let's get ready for Python.

[home](#home)

____
<a id='part2'></a>

## 2. Uploading files

The file we are planing to read into Python is a data table. Python needs support from one of its libraries to deal with data tables: **PANDAS**

* Check if you already have Pandas.
* If you do not have it, install it.

In [8]:
# do I have it?
!pip show pandas

Name: pandas
Version: 1.5.2
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author: The Pandas Development Team
Author-email: pandas-dev@python.org
License: BSD-3-Clause
Location: c:\users\talli\anaconda3\envs\pubpolgovanalytics\lib\site-packages
Requires: numpy, python-dateutil, pytz
Required-by:

In [6]:
# if you do not have it:
#!pip install pandas
!pip install pandas

Collecting pandas
  Downloading pandas-1.5.2-cp39-cp39-win_amd64.whl (10.9 MB)
     --------------------------------------- 10.9/10.9 MB 21.1 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\talli\anaconda3\envs\pubpolgovanalytics\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\talli\anaconda3\envs\pubpolgovanalytics\lib\site-packages (from pandas) (2022.7)
Collecting numpy>=1.20.3
  Downloading numpy-1.24.1-cp39-cp39-win_amd64.whl (14.9 MB)
     --------------------------------------- 14.9/14.9 MB 24.2 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\talli\anaconda3\envs\pubpolgovanalytics\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.24.1 pandas-1.5.2

Now that you have *Pandas*, you can read in the data:

In [8]:
# call pandas
import pandas as pd # 'pd' is a nickname

# use a function from pandas to read the cloud data into a Python object
gitCloudRepo='https://raw.githubusercontent.com/tallismoore/542GovAnalytics/main/'
fileName="HSBfromGoogle%20-%20data.csv"

DFcsv=pd.read_csv(gitCloudRepo + fileName)

If Python has not **complained**, that is, you got no error messages, then, you are good to continue!

The **DFcsv** Python object holds the data:

In [9]:
DFcsv

,id,sex,race,ses,sctyp,hsp,locus,concpt,mot,car,rdg,wrtg,math,sci,civ
0,1,Female,Asian,Low,Public,Vocational/Technical,0.29,0.88,0.67,Professional_2,33.6,43.7,40.2,39.0,40.6
1,2,Male,Asian,Low,Public,Academic preparatory,-0.42,0.03,0.33,Craftsman,46.9,35.9,41.9,36.3,45.6
2,3,Female,Asian,Low,Public,Academic preparatory,0.71,0.03,0.67,Professional_1,41.6,59.3,41.9,44.4,45.6
3,4,Female,Asian,Medium,Public,Vocational/Technical,0.06,0.03,0.00,Service,38.9,41.1,32.7,41.7,40.6
4,5,Female,Asian,Medium,Public,Vocational/Technical,0.22,-0.28,0.00,Clerical,36.3,48.9,39.5,41.7,45.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,596,Male,Hispanic,High,Private,General,0.27,-1.05,0.33,Professional_1,60.1,54.1,56.3,55.3,55.6
596,597,Male,Hispanic,Medium,Private,General,0.55,0.34,1.00,Technical,62.7,61.9,72.9,63.4,55.6
597,598,Male,Hispanic,Medium,Private,General,-0.61,0.34,0.67,Technical,68.0,54.1,74.6,66.1,65.5
598,599,Female,Hispanic,Medium,Private,General,0.23,0.94,1.00,Professional_2,57.4,67.1,57.9,60.7,55.6
599,600,Male,Hispanic,Medium,Private,General,0.02,0.03,0.33,Professional_1,62.7,54.1,64.7,58.0,50.6

This object is of a particular type:

In [10]:
type(DFcsv)

pandas.core.frame.DataFrame

The type is **Data Frame** (DF). Several functions can be applied to DFs. Let me show you some basic ones.

In [11]:
# dimensions (rows,columns)
DFcsv.shape

(600, 15)

In [12]:
# top / bottom
DFcsv.head(10) #tail()

,id,sex,race,ses,sctyp,hsp,locus,concpt,mot,car,rdg,wrtg,math,sci,civ
0,1,Female,Asian,Low,Public,Vocational/Technical,0.29,0.88,0.67,Professional_2,33.6,43.7,40.2,39.0,40.6
1,2,Male,Asian,Low,Public,Academic preparatory,-0.42,0.03,0.33,Craftsman,46.9,35.9,41.9,36.3,45.6
2,3,Female,Asian,Low,Public,Academic preparatory,0.71,0.03,0.67,Professional_1,41.6,59.3,41.9,44.4,45.6
3,4,Female,Asian,Medium,Public,Vocational/Technical,0.06,0.03,0.00,Service,38.9,41.1,32.7,41.7,40.6
4,5,Female,Asian,Medium,Public,Vocational/Technical,0.22,-0.28,0.00,Clerical,36.3,48.9,39.5,41.7,45.6
5,6,Male,Asian,Medium,Public,Academic preparatory,0.46,0.03,0.00,Proprietor,49.5,46.3,46.2,41.7,35.6
6,7,Male,Asian,Low,Public,General,0.44,-0.47,0.33,Professional_2,62.7,64.5,48.0,63.4,55.6
7,8,Female,Asian,Low,Public,General,0.68,0.25,1.00,Professional_1,44.2,51.5,36.9,49.8,55.6
8,9,Male,Asian,Medium,Public,General,0.06,0.56,0.33,Professional_1,46.9,41.1,45.3,47.1,55.6
9,10,Female,Asian,Low,Public,General,0.05,0.15,1.00,Proprietor,44.2,49.5,40.5,39.0,50.6

In [13]:
# column names
DFcsv.columns

Index(['id', 'sex', 'race', 'ses', 'sctyp', 'hsp', 'locus', 'concpt', 'mot',
       'car', 'rdg', 'wrtg', 'math', 'sci', 'civ'],
      dtype='object')

In [14]:
# access by column index
DFcsv.iloc[:,4]

0       Public
1       Public
2       Public
3       Public
4       Public
        ...
595    Private
596    Private
597    Private
598    Private
599    Private
Name: sctyp, Length: 600, dtype: object

In [15]:
# access by column name
DFcsv.loc[:,'sctyp']

0       Public
1       Public
2       Public
3       Public
4       Public
        ...
595    Private
596    Private
597    Private
598    Private
599    Private
Name: sctyp, Length: 600, dtype: object

In [16]:
# subdata frame
DFcsv[['sctyp']]

       sctyp
0     Public
1     Public
2     Public
3     Public
4     Public
..       ...
595  Private
596  Private
597  Private
598  Private
599  Private

[600 rows x 1 columns]

And the most important for future sessions:

In [17]:
DFcsv.info() # the data types Python has assigned

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      600 non-null    int64
 1   sex     600 non-null    object
 2   race    600 non-null    object
 3   ses     600 non-null    object
 4   sctyp   600 non-null    object
 5   hsp     600 non-null    object
 6   locus   600 non-null    float64
 7   concpt  600 non-null    float64
 8   mot     600 non-null    float64
 9   car     600 non-null    object
 10  rdg     600 non-null    float64
 11  wrtg    600 non-null    float64
 12  math    600 non-null    float64
 13  sci     600 non-null    float64
 14  civ     600 non-null    float64
dtypes: float64(8), int64(1), object(6)
memory usage: 70.4+ KB

Python will not care about the original data file (CSV, EXCEL. etc.), once they are read into Python you will have a DF.

**Proprietary Sofware**

Several times, you may find that you are given a file that was previously prepared with proprietary software. The most common in the policy field are:

* SPSS (file extension: **sav**).
* STATA (file extension: **dta**).
* EXCEL (file extension: **xlsx** or **xls**).

Getting these files up and running might not bring much pre processing challenges. However, you may need different levels of effort to read them from **GitHub**: they will not be as easy to open as a CSV.

Download [these files](https://drive.google.com/drive/folders/1XxTztY6rFkGwbR7wUtO_xiD4xvBrFqJN?usp=share_link) into the repository where your CSV file is currently stored in your local machine, then commit and push.

**Exercise:**
    
Open the other files (excel, spss, stata). 

**TIPS**

Check these functions: 
* For STATA: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_stata.html
* FOR EXCEL: 
    - https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html
    - https://openpyxl.readthedocs.io/en/stable/
    - https://xlrd.readthedocs.io/en/latest/
* FOR SPSS:
    - https://pandas.pydata.org/docs/reference/api/pandas.read_spss.html
    - https://github.com/Roche/pyreadstat

Opening SPSS might more challenging.


Check if all the functions work well with the DFs created. Verify if the results are the same.

In [16]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
     -------------------------------------- 242.1/242.1 kB 2.5 MB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10

In [17]:
# call pandas
import pandas as pd # 'pd' is a nickname

# use a function from pandas to read the cloud data into a Python object
gitCloudRepo='https://raw.githubusercontent.com/tallismoore/542GovAnalytics/main/'
fileName="hsb_ok.xlsx"

DFcsv=pd.read_excel(gitCloudRepo + fileName)

In [18]:
DFcsv

,Unnamed: 0,id,sex,race,ses,sctyp,hsp,locus,concpt,mot,car,rdg,wrtg,math,sci,civ
0,0,1,Female,Asian,Low,Public,Vocational/Technical,0.29,0.88,0.67,Professional_2,33.6,43.7,40.2,39.0,40.6
1,1,2,Male,Asian,Low,Public,Academic preparatory,-0.42,0.03,0.33,Craftsman,46.9,35.9,41.9,36.3,45.6
2,2,3,Female,Asian,Low,Public,Academic preparatory,0.71,0.03,0.67,Professional_1,41.6,59.3,41.9,44.4,45.6
3,3,4,Female,Asian,Medium,Public,Vocational/Technical,0.06,0.03,0.00,Service,38.9,41.1,32.7,41.7,40.6
4,4,5,Female,Asian,Medium,Public,Vocational/Technical,0.22,-0.28,0.00,Clerical,36.3,48.9,39.5,41.7,45.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,595,596,Male,Hispanic,High,Private,General,0.27,-1.05,0.33,Professional_1,60.1,54.1,56.3,55.3,55.6
596,596,597,Male,Hispanic,Medium,Private,General,0.55,0.34,1.00,Technical,62.7,61.9,72.9,63.4,55.6
597,597,598,Male,Hispanic,Medium,Private,General,-0.61,0.34,0.67,Technical,68.0,54.1,74.6,66.1,65.5
598,598,599,Female,Hispanic,Medium,Private,General,0.23,0.94,1.00,Professional_2,57.4,67.1,57.9,60.7,55.6
599,599,600,Male,Hispanic,Medium,Private,General,0.02,0.03,0.33,Professional_1,62.7,54.1,64.7,58.0,50.6

[home](#home)

____

<a id='part3'></a>

## 3. Collecting data from APIs

Open data portals from the government and other organizations have APIs, a service that allows you to collect their data. Let's take a look a Seattle data about [Seattle Real Time Fire 911 Calls](https://data.seattle.gov/Public-Safety/Seattle-Real-Time-Fire-911-Calls/kzjm-xkqj).

That page tells you how to get the data into pandas. But first, you need to install **sodapy**. Then you can continue:

In [23]:
#!pip install sodapy
!pip install sodapy

Collecting sodapy
  Downloading sodapy-2.2.0-py2.py3-none-any.whl (15 kB)
Requirement already satisfied: requests>=2.28.1 in c:\users\talli\anaconda3\envs\pubpolgovanalytics\lib\site-packages (from sodapy) (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\talli\anaconda3\envs\pubpolgovanalytics\lib\site-packages (from requests>=2.28.1->sodapy) (1.26.13)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\talli\anaconda3\envs\pubpolgovanalytics\lib\site-packages (from requests>=2.28.1->sodapy) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\talli\anaconda3\envs\pubpolgovanalytics\lib\site-packages (from requests>=2.28.1->sodapy) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\talli\anaconda3\envs\pubpolgovanalytics\lib\site-packages (from requests>=2.28.1->sodapy) (3.4)
Installing collected packages: sodapy
Successfully installed sodapy-2.2.0

Let's follow some steps, according to the API:

In [24]:
from sodapy import Socrata

# Unauthenticated client (using 'None')

client = Socrata("data.seattle.gov", None)

# If you have credentials:
# client = Socrata(data.seattle.gov,
#                  MyAppToken,
#                  username="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("kzjm-xkqj", limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

You can see the results now:

In [25]:
results_df

,address,type,datetime,latitude,longitude,report_location,incident_number,:@computed_region_ru88_fbhk,:@computed_region_kuhn_3gp2,:@computed_region_q256_3sug,:@computed_region_2day_rhn5,:@computed_region_cyqu_gs94
0,1116 N 84th St,Aid Response,2023-01-11T10:05:00.000,47.689835,-122.3443,"{'type': 'Point', 'coordinates': [-122.3443, 4...",F230004558,53,25,18377,NaN,NaN
1,109 23rd Ave E,Aid Response,2023-01-11T10:04:00.000,47.619215,-122.302545,"{'type': 'Point', 'coordinates': [-122.302545,...",F230004557,35,6,18789,NaN,NaN
2,3254 Nw Market St,Medic Response,2023-01-11T10:03:00.000,47.66862,-122.399074,"{'type': 'Point', 'coordinates': [-122.399074,...",F230004556,4,1,18386,NaN,NaN
3,4401 Aurora Ave N,Aid Response,2023-01-11T09:59:00.000,47.660748,-122.347391,"{'type': 'Point', 'coordinates': [-122.347391,...",F230004555,20,2,18377,NaN,NaN
4,7060 East Marginal Way S,Aid Response,2023-01-11T09:57:00.000,47.539749,-122.322441,"{'type': 'Point', 'coordinates': [-122.322441,...",F230004554,22,37,18388,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2100 5th Ave,Activated CO Detector,2023-01-05T13:18:00.000,47.614496,-122.340474,"{'type': 'Point', 'coordinates': [-122.340474,...",F230001939,56,7,19576,NaN,NaN
1996,903 UNION ST,Rescue Lock In/Out,2023-01-05T13:17:00.000,47.611557,-122.330191,"{'type': 'Point', 'coordinates': [-122.330191,...",F230001935,19,12,18081,NaN,NaN
1997,15th Ave Ne / Ne 43rd St,Rubbish Fire,2023-01-05T13:16:00.000,47.659781,-122.312032,"{'type': 'Point', 'coordinates': [-122.312032,...",F230001934,60,38,18383,NaN,NaN
1998,2728 Ne 45th St,Aid Response,2023-01-05T13:10:00.000,47.661225,-122.297467,"{'type': 'Point', 'coordinates': [-122.297467,...",F230001932,60,48,18383,NaN,NaN
1999,41st Ave Sw / Sw Alaska St,Triaged Incident,2023-01-05T13:08:00.000,47.561096,-122.384137,"{'type': 'Point', 'coordinates': [-122.384137,...",F230001931,1,50,18795,NaN,NaN

Data from APIs may need some more pre processing than the previous files. Besides, you should study the API documentation to know how to interact with the portal. Not every open data portal behaves the same.

[home](#home)
____
<a id='part4'></a>

## 4. Scraping

Sometimes you are interested in data from the web. Let me get a table from wikipedia:

In [26]:
from IPython.display import IFrame  
wikiLink="https://en.wikipedia.org/wiki/Democracy_Index" 
IFrame(wikiLink, width=700, height=300)

I will use pandas to get the table, but you need to install these libraries first:

*html5lib 
*beautifulsoup4
*lxml

In [27]:
!pip install html5lib 
!pip install beautifulsoup4
!pip install lxml

Collecting html5lib
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     -------------------------------------- 112.2/112.2 kB 1.6 MB/s eta 0:00:00
Requirement already satisfied: six>=1.9 in c:\users\talli\anaconda3\envs\pubpolgovanalytics\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\talli\anaconda3\envs\pubpolgovanalytics\lib\site-packages (from html5lib) (0.5.1)
Installing collected packages: html5lib
Successfully installed html5lib-1.1
Requirement already satisfied: beautifulsoup4 in c:\users\talli\anaconda3\envs\pubpolgovanalytics\lib\site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\talli\anaconda3\envs\pubpolgovanalytics\lib\site-packages (from beautifulsoup4) (2.3.2.post1)
Requirement already satisfied: lxml in c:\users\talli\anaconda3\envs\pubpolgovanalytics\lib\site-packages (4.9.1)

Let's get the table from Wikipedia now:

In [28]:
DFwiki=pd.read_html(wikiLink,
                    header=0,
                    flavor='bs4',
                    attrs={'class': 'wikitable'})# very important

Pandas has this command **read_html** that will save lots of coding, above I just said:
* The link to the webpage.
* The position of the header.
* The external library that will be used to extract the text (_flavor_).
* The attributes of the table.

DFwiki is not a data frame:

In [29]:
type(DFwiki)

list

The command **read_html** returned all the tables with the attribute _wikitable_. Since there may be more than one, a **list** of tables is returned. Lists are the most flexible container offered by Python:

In [30]:
aList=[1,2,'a','*']
aList

[1, 2, 'a', '*']

Lists have several interesting functions and properties:

In [31]:
# amount of elements
len(aList)

4

In [32]:
# get element
aList[2]

'a'

In [33]:
# replace
aList[3]="**"
aList

[1, 2, 'a', '**']

In [34]:
# add element
aList.append(4)
aList

[1, 2, 'a', '**', 4]

In [35]:
# erase element
del aList[0]
aList

[2, 'a', '**', 4]

And the nicest of all: **list comprehension**

In [36]:
# list of the squared first five positive integers (0 to 4)
easyList_1=[x**2 for x in range(5)]
easyList_1

[0, 1, 4, 9, 16]

In [37]:
# list of multiples of 5 smaller than 50
easyList_2=[x for x in range(50) if x%5==0 and x>0]
easyList_2

[5, 10, 15, 20, 25, 30, 35, 40, 45]

In [38]:
someNames=["Peter","John","Rob", "Ron", "Mike"]
easyList_3=[x for x in someNames if not x.startswith('R')]
easyList_3

['Peter', 'John', 'Mike']

In [39]:
import math

someNumbers=[-1,4,6,-3]
easyList_4a=[math.pow(x,2) for x in someNumbers ]
easyList_4a

[1.0, 16.0, 36.0, 9.0]

In [40]:
# when using'else' write 'for' at the end
easyList_4b=[math.sqrt(x) if x >=0 else None for x in someNumbers]
easyList_4b

[None, 2.0, 2.449489742783178, None]

Coming back to our example from wikipedia, we first should check how many DFs we have:

In [41]:
len(DFwiki)

5

Is ours the first one?

In [42]:
# remember that Python starts counting in ZERO!
DFwiki[0]

,Type of regime,Score,Countries,Countries.1,Proportion of World population (%)
0,Type of regime,Score,Number,(%),Proportion of World population (%)
1,Full democracies,9.01–10.00 8.01–9.00,21,12.6%,6.4%
2,Flawed democracies,7.01–8.00 6.01–7.00,53,31.7%,39.3%
3,Hybrid regimes,5.01–6.00 4.01–5.00,34,20.4%,17.2%
4,Authoritarian regimes,3.01–4.00 0–3.00,59,35.3%,37.1%

or the last one?

In [43]:
DFwiki[4]

,Rank,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Δ Rank,Country,Regime type,Overall score,Δ Score,Elec­toral pro­cess and plura­lism,Func­tioning of govern­ment,Poli­tical partici­pation,Poli­tical cul­ture,Civil liber­ties
0,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies
1,1,NaN,Norway,Full democracy,9.75,0.06,10.00,9.64,10.00,10.00,9.12
2,2,2,New Zealand,Full democracy,9.37,0.12,10.00,8.93,9.44,8.75,9.71
3,3,3,Finland,Full democracy,9.27,0.07,10.00,9.29,8.89,8.75,9.41
4,4,1,Sweden,Full democracy,9.26,NaN,9.58,9.29,8.33,10.00,9.12
...,...,...,...,...,...,...,...,...,...,...,...
166,162,2,Central African Republic,Authoritarian,1.43,0.11,1.25,0.00,1.67,1.88,2.35
167,164,2,Democratic Republic of the Congo,Authoritarian,1.40,0.27,0.75,0.00,2.22,3.13,0.88
168,165,2,North Korea,Authoritarian,1.08,NaN,0.00,2.50,1.67,1.25,0.00
169,166,31,Myanmar,Authoritarian,1.02,2.04,0.00,0.00,1.67,3.13,0.29
170,167,28,Afghanistan,Authoritarian,0.32,2.53,0.00,0.07,0.00,1.25,0.29

Tables scrapped will bring different cleaning challenges. 

[home](#home)
____
<a id='part5'></a>

## 5. Social media data

Social media offer APIs too that allow you to get _some_ data. To use this service, you need to register as a developer. For our Twitter example, you should go [here](https://developer.twitter.com/en).
Once you are a confirmed developer, Twitter, Facebook and others will allow you to get _some_ of their data (the more you pay the more you get). 

Let's pay attention to Twitter. First, check if you have **tweepy**:

In [44]:
!pip show tweepy

WARNING: Package(s) not found: tweepy

In [45]:
!pip install tweepy

Collecting tweepy
  Downloading tweepy-4.12.1-py3-none-any.whl (101 kB)
     -------------------------------------- 101.6/101.6 kB 1.9 MB/s eta 0:00:00
Collecting oauthlib<4,>=3.2.0
  Downloading oauthlib-3.2.2-py3-none-any.whl (151 kB)
     -------------------------------------- 151.7/151.7 kB 3.0 MB/s eta 0:00:00
Requirement already satisfied: requests<3,>=2.27.0 in c:\users\talli\anaconda3\envs\pubpolgovanalytics\lib\site-packages (from tweepy) (2.28.1)
Collecting requests-oauthlib<2,>=1.2.0
  Downloading requests_oauthlib-1.3.1-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: idna<4,>=2.5 in c:\users\talli\anaconda3\envs\pubpolgovanalytics\lib\site-packages (from requests<3,>=2.27.0->tweepy) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\talli\anaconda3\envs\pubpolgovanalytics\lib\site-packages (from requests<3,>=2.27.0->tweepy) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\talli\anaconda3\envs\pubpolgovanalytics\lib\site-packages (from requests<3,>=2.27.0->tweepy) (1.26.13)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\talli\anaconda3\envs\pubpolgovanalytics\lib\site-packages (from requests<3,>=2.27.0->tweepy) (2022.12.7)
Installing collected packages: oauthlib, requests-oauthlib, tweepy
Successfully installed oauthlib-3.2.2 requests-oauthlib-1.3.1 tweepy-4.12.1

Tweepy is the key library, but you may need several other libraries according to your goals.

In [51]:
import tweepy

Let me introduce myself to Twitter:

In [50]:
# credentials from a file
import json
keysAPI = json.load(open('APIkeys.txt','r'))

# getting info from the file
api_key = keysAPI['api_key']
api_key_secret = keysAPI['api_key_secret']
access_token = keysAPI['access_token']
access_token_secret = keysAPI['access_token_secret']

# introducing myself:
auth = tweepy.OAuthHandler(api_key, api_key_secret)
auth.set_access_token(access_token, access_token_secret)
api=tweepy.API(auth, wait_on_rate_limit=True,timeout=60,
               parser=tweepy.parsers.JSONParser())

FileNotFoundError: [Errno 2] No such file or directory: '1lVWtfCOtr99xKNMGK2DSce6t'

Let me ask for some tweets from a particular user:

In [49]:
who='@WAStateGov'
howMany=100
gottenTweets = api.user_timeline(screen_name = who, 
                                 count = howMany, 
                                 include_rts = True,
                                 tweet_mode="extended")

NameError: name 'api' is not defined

You should always check what you have:

In [ ]:
type(gottenTweets)

I have a list, then I could ask how many tweets I got (just to confirm):

In [ ]:
len(gottenTweets)

Let me view what I have in the first tweet:

In [ ]:
gottenTweets[0]

It will take some time to become familiar with a [tweet object structure](https://developer.twitter.com/en/docs/twitter-api/data-dictionary/object-model/tweet). Let's find out how each tweet is currently stored:

In [ ]:
type(gottenTweets[0])

Now you know that each tweet is stored as a **dictionary**. 
Dictionaries or **dicts** are very flexible and important structures in Python. Let me show you a simple one:

In [ ]:
aDictExample={"name":"Peter",
             "speaks":['French', 'Spanish'],
             'country':'Morocco'}

# then
aDictExample

Dicts are a basic structure in Python, and one that makes Python very appealing. Each element in Python can be accessed via **keys**. Our _aDictExample_ has these keys:

In [ ]:
aDictExample.keys()

So, you access the info like this:

In [ ]:
aDictExample['speaks']

Then, let's see our **gottenTweets** keys:

In [ ]:
gottenTweets[0].keys()

In [ ]:
# then:
gottenTweets[0]['created_at']

In [ ]:
gottenTweets[1]['created_at']

We could prepare a data frame using the current tweets, first let's prepare a list of each of fields we want:

In [ ]:
# list comprehesions
dates=[t['created_at'] for t in gottenTweets]
ids=[t['id'] for t in gottenTweets]
rts=[t['retweet_count'] for t in gottenTweets]
likes=[t['favorite_count'] for t in gottenTweets]
text=[t['full_text'] for t in gottenTweets]
rtw=[t['full_text'].startswith('RT') for t in gottenTweets]

Each of the objects created is a list (dates, ids,rts,likes and text). Let me show you one:

In [ ]:
rtw

Let me create a data frame with those lists:

In [ ]:
dictOfColsAsLists={'dates':dates,'ids':ids,'rts':rts,
                   'likes':likes,'text':text,'rtw':rtw}
tweetsAsDF=pd.DataFrame(dictOfColsAsLists)

In [ ]:
tweetsAsDF

You can know how many are retweets or not:

In [ ]:
tweetsAsDF[tweetsAsDF['rtw']==False].shape

In [ ]:
tweetsAsDF[tweetsAsDF['rtw']==True].shape

[home](#home)